@import './colors.scss';

html,
body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-content {
  margin-top: 15vh;
}

.nav {
  background-color: #365a68;
}

.button {
  padding: 0.8rem 1rem;
  color: white;
  background-color: #365a67;
  width: 100%;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #2f4e5a;
    box-shadow: 0.2rem 0.2rem 0.9rem rgba($color: #000000, $alpha: 0.3);
  }
}

.tab-header {
  display: flex;
  justify-content: space-evenly;
  height: 3rem;
  font-weight: 600;
  color: white;
  align-items: center;

  &--left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.8rem;
    background-color: #365a67;
    cursor: pointer;
  }

  &--right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #365a67;
    border-top-right-radius: 0.8rem;
    cursor: pointer;
  }
  & .active {
    background-color: #2b4d5a;
  }
}
.swap-body {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
  z-index: -3;

  & .input-field {
    display: flex;
    position: relative;
    margin-bottom: 1.2rem;
    & > input {
      background-color: #365a67;
      font-size: 1.4rem;

      &::placeholder {
        color: #2b4d5a;
      }
    }

    & > label {
      position: absolute;
      top: 0.8rem;
      left: 0.8rem;
      padding: 0.4rem 0.8rem;
      border-radius: 0.8rem;
      background-color: #dedede;
      color: #365a67;
    }

    & > select {
      position: absolute;
      top: 0.8rem;
      left: 0.8rem;
      padding: 0.4rem 0.2rem;
      border-radius: 0.8rem;
      background-color: #dedede;
      color: #365a67;
    }
  }
  & button {
    border-radius: 0.6rem;
    border: 0;
    padding: 1.2rem 0.4rem;
    color: #365a67;
    width: 100%;
    text-transform: capitalize;
    font-weight: 600;
  }
}

.mobile-nav {
  background-color: $background-color;
}

.feature-box {
  background-color: #2b4d5a;
}

.beacon {
  position: relative;
  cursor: pointer;

  &:hover {
    color: #aa6d2d;
  }
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1rem;
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
    background-color: #aa6d2d;
  }
}

.beacon__active {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2.5rem;
    height: 1.4rem;
    width: 0.2rem;
    background-color: #aa6d2d;
    border-radius: 0.4rem;
  }
}

.beacon-mobile {
  position: relative;
  cursor: pointer;

  &:hover {
    color: #aa6d2d;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.6rem;
    height: 0.2rem;
    width: 0.2rem;
    border-radius: 0.2rem;
    background-color: #aa6d2d;
  }
}

.beacon-mobile__active {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -0.015rem;
    height: 0.2rem;
    width: 0.4rem;
    border-radius: 0.4rem;
    background-color: #aa6d2d;
  }
}

.roadmap-content {
  background-color: #2f4e5a;
}

.copy-body {
  background-color: #2f4e5a;
}
